html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Verhindert horizontales Scrollen */
}

body {
    background-color: #A2CC8F;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-size: calc(12px + 0.5vw); /* Responsive Basis-Schriftgröße */
}

header {
    position: relative;
    width: 100%;
    height: 50vh;
    /* Header-Höhe auf halbe Viewport-Höhe eingestellt */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    padding-left: 1vw;
    box-sizing: border-box;
}



h1 {
    margin-top: 0.8vw;
    font-weight: 800;
    font-size: calc(30px + 6vw); /* Responsive Schriftgröße */
    z-index: 2;
    position: relative;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0vw;
}

h2 {
    width: 60%;
    font-weight: 600;
    font-size: calc(14px + 0.7vw); /* Responsive Schriftgröße */ z-index: 2;
    position: relative;
    font-family: 'Raleway', sans-serif;
}

h3 {
    font-weight: 800;
    font-size: calc(12px + 0.8vw); /* Responsive Schriftgröße */
    z-index: 2;
    position: relative;
    font-family: 'Raleway', sans-serif;
    margin-top: 0.1vw;
}

#svgPaddingContainer {
    width: 100%;
    height: 100%;
    /* Höhe des SVG-Containers auf die gesamte Viewport-Höhe gesetzt */
    z-index: 1;
    position: absolute;
    /* Über Header und Main strecken */
    top: 0vw;
    left: 0; 
}

#svgContainer {
    position: relative;
    width: 100%;
    height: 100%;

}

svg {
    width: 100%;
    height: 100%;
    
}

main {
    margin-top: 50vh;
    /* Platz für das SVG-Element schaffen */
}

/* Neuer Container für die Dropdown-Liste, den Button und die Random-Destination-Anzeige */
.controls-container {
    position: absolute; /* Absolut positioniert */
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%); /* Zentriert den Container */
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}

.styled-element {
    background-color: #F1F1C0;
    border: 0.2vw solid #A2CC8F;
    border-radius: 0.8vw;
    padding: 1vw;
    font-size: calc(12px + 0.8vw); /* Responsive Schriftgröße */
    margin: 1vw 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-align: center;
    color: #333;
}

#random-destination {
    display: flex;
    flex-direction: column;
    background-color: #F1F1C0;
    border-radius: 0.8vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: calc(12px + 0.8vw); /* Responsive Schriftgröße */
    width: 20vw;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1vw;
}


#generate-destination {
    display: flex;
    flex-direction: column;
    background-color: #F1F1C0;
    border-radius: 0.8vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: calc(12px + 0.8vw); /* Responsive Schriftgröße */
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1vw;
    margin-left: 32%

}

.train1 {
    transition: transform 1s;
    z-index: 3;
}

.train2 {
    transition: transform 1s;
    z-index: 2;
}

.train3 {
    transition: transform 1s;
    z-index: 1;
}

#city-selector {
    font-size: calc(14px + 0.8vw); /* Responsive Schriftgröße */
    padding: 0.5vw 1vw;
    background-color: #F1F1C0;
    border: 0.2vw solid #A2CC8F;
    border-radius: 0.8vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #333;
    margin: 1vw 0;
    display: inline-block;
    height: auto;
    line-height: 1;
}

.footer-button-container {
    display: flex;
    justify-content: center;
    padding: 2vw;
    z-index: 3;
}

@media (max-width: 768px) {

        h1 {
            font-size: calc(16px + 4vw);
        }
        h2 {
            font-size: calc(7px + 0.7vw);
        }
        h3 {
            font-size: calc(10px + 1.5vw);
        }
    
        /*#svgPaddingContainer 
            /* Keine Änderungen */
        
        
        /*#svgContainer 
            /* hier kommt es auf die neue Pfad grösse drauf an, ausprobieren */
        
        
        /*svg 
            /* hier kommt es auf die neue Pfad grösse drauf an, ausprobieren */
        
        
        /*main 
            /* hier kommt es auf die neue Pfad grösse drauf an, ausprobieren */
    
}

  
  /* Tablets (hochkant und quer) */
  @media (min-width: 577px) and (max-width: 768px) {
    h1 {
        font-size: calc(16px + 4vw);
    }
    h2 {
        font-size: calc(7px + 0.7vw);
    }
    h3 {
        font-size: calc(10px + 1.5vw);
    }
   
  }
  
  /* Tablets (quer) und kleine Desktops */
  @media (min-width: 769px) and (max-width: 992px) {
    /* Deine Styles */
  }
  
  /* Normale Desktops */
  @media (min-width: 993px) and (max-width: 1200px) {
    /* Deine Styles */
  }
  
  /* Große Desktops und Widescreens */
  @media (min-width: 1201px) {
    /* Deine Styles */
  }
  