header {
    width: 97%; 
    display: flex; 
    justify-content: space-between; /* Verteilt die Elemente im Header */
    align-items:center; /* Zentriert die Elemente vertikal */
    padding: 0 20px; /* Fügt einen Padding hinzu, um etwas Platz zu beiden Seiten zu schaffen */
}

.header-left {
    display: flex; /* Flexbox für die linke Seite aktivieren */
    flex-direction: column; /* Elemente vertikal anordnen */
}

h1, h2, h3 {
    margin: 0; /* Standardmargen entfernen */
    padding: 0; /* Standardpadding entfernen */
}

h1, h2 {
    text-align: left; /* Texte linksbündig ausrichten */
}



body {
    background-color: #bec4ca; /* helles Grau als Hintergrundfarbe */
}

#city-selector, #generate-destination {
    margin: 10px;
    padding: 5px;
}

#random-destination {
    margin-top: 20px;
}

#city-selector, #generate-destination, label {
    margin: 10px;
    padding: 5px;
    vertical-align: middle; /* Elemente auf der gleichen Linie zentrieren */
}

#generate-destination {
    position: relative; /* Erlaubt die Bewegung innerhalb des übergeordneten Elements */
    transition: transform 0.5s ease-in-out; /* Weiche Animation */
}

